@page "/company/edit/{CompanyId:int}"
@using RedBadgeProject.Shared.Models.Company
@attribute [Authorize]
@inject HttpClient Http
@using RedBadgeProject.Shared.Models.Location
@inject NavigationManager navigation

<h3>Edit Company: @model.Name</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

@if (locations == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="model.Name"/>
            </div>

            <label>Location</label>
            <InputSelect class="form-control" @bind-Value="model.LocationId">
                @foreach (var location in locations)
                {
                    <option value="@location.Id">@location.Name</option>
                }
            </InputSelect>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary btn-block mt-5">submit</button>
            </div>
            <a href="@($"/company")">Back to Index</a>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public int CompanyId {get; set;}

    private CompanyEdit model = new();
    private IEnumerable<LocationDetail> locations {get; set;}
    private string? errorMessage {get; set;}

    protected override async Task OnInitializedAsync()
    {
        model = await Http.GetFromJsonAsync<CompanyEdit>($"/api/company/{CompanyId}");
        locations = await Http.GetFromJsonAsync<IEnumerable<LocationDetail>>("/api/location");
    }

    private async void HandleSubmit()
    {
        var editRes = await Http.PutAsJsonAsync<CompanyEdit>($"/api/company/edit/{CompanyId}", model);
        if (editRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/company/{CompanyId}");
        }
        else
        {
            errorMessage = "Could not edit company right now.";
        }
    }
}