@page "/company"
@using RedBadgeProject.Shared.Models.Company
@attribute [Authorize]
@inject HttpClient Http

<h3>Add a new Company</h3>

<a href="/company/create">Create a company</a>

@if (_companies == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>LocationId</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in _companies)
            {
                <tr>
                    <td><strong>@company.Name</strong></td>
                    <td><strong>@company.LocationId</strong></td>
                    <td><strong>@company.Location</strong></td>
                    <td>
                        <a href="@($"company/{company.Id}")">Details</a>
                        <a href="@($"company/edit/{company.Id}")">Edit</a>
                        <a href="@($"company/delete/{company.Id}")">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<CompanyDetail> _companies;

    protected override async Task OnInitializedAsync()
    {
        _companies = await Http.GetFromJsonAsync<List<CompanyDetail>>("/api/company");
    }
}