@page "/staff/create"
@using RedBadgeProject.Shared.Models.Staff
@attribute [Authorize]
@inject HttpClient Http
@using RedBadgeProject.Shared.Models.Company
@using RedBadgeProject.Shared.Models.Location
@inject NavigationManager navigation

<h3>Create</h3>

@if(errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

@if (companies == null || locations == null)
{
    <p><em>Loading ...</em></p>
} else {
    <div class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="model.Name"/>
            </div>

            <label>Company</label>
            <InputSelect class="form-control" @bind-Value="model.CompanyId">
                @foreach (var company in companies)
                {
                    <option value="@company.Id">@company.Name</option>
                }
            </InputSelect>

            <label>Current Location</label>
            <InputSelect class="form-control" @bind-Value="model.CurrentLocationId">
                @foreach (var location in locations)
                {
                    <option value="@location.Id">@location.Name</option>
                }
            </InputSelect>

            <div class="form-group">
                <label>RoleId</label>
                <InputNumber class="form-control" @bind-Value="model.RoleId"/>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary btn-block mt-5">submit</button>
            </div>
            <a href="@($"/staff")">Back to Index</a>
        </EditForm>
    </div>
}

@code {
    private StaffCreate model = new();
    private IEnumerable<CompanyDetail> companies;
    private IEnumerable<LocationDetail> locations;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        companies = await Http.GetFromJsonAsync<IEnumerable<CompanyDetail>>("/api/company");
        locations = await Http.GetFromJsonAsync<IEnumerable<LocationDetail>>("/api/location");
    }

    private async void HandleSubmit()
    {
        var createRes = await Http.PostAsJsonAsync<StaffCreate>("/api/staff", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/staff");
        }
        else
        {
            errorMessage = "Could not create staff.";
        }
    }
}